{% extends "plantilla.html" %}

{% block content%}


<div class="container ">
    <h1 class="text-center">PELICULAS</h1>
    <h3 class="text-center">lee la nota</h3>
    <center><a href="{% url 'menu_peliculas' %}">Agregar Peliculas</a></center> <br>
    <div class="row ">
    
        <div class="col-md-3 p-3 text-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            <h5>La primera pelicula del mundo</h5>
            <p>
                El 22 de marzo de 1895, los hermanos Lumière proyectaron los 46 segundos más importantes de la historia del cine. Nacía un nuevo género de comunicación y de arte que apasionaría a los espectadores y que, a lo largo de los años, ha servido para educar, manipular, recordar...
            </p>
            <p>
                La primera pelicula del mundo, que fue producida por los hermanos Lumière y que se llamó "La primera pelicula del mundo", se proyectó en el Teatro de la Familia de Lumière en París, en el año 1895. Fue una pelicula de ciencia ficción que narra la historia de una aventura en un mundo de la Tierra Media, donde los humanos y los extraterrestres se encuentran en contacto.
            </p>
            
        </div>
    
        <div class="col-md-6 text-center ">
            <p>
                Todo comenzó cuando los hermanos Auguste Marie y Louis Jean Lumiere revolucionaron la industria y el arte de la imagen con sus inventos sucesivos de la foto instantánea, luego inventaron el proyector cinematográfico, hasta que el 28 de Diciembre de 1895 lograron proyectar la primera función de cine mudo como espectáculo en París.

                Hoy, 124 años después de esa proyección, el cine como manifestación artística, cuenta con diversos movimientos o corrientes que se han ido reinventando a través de los tiempos, por eso a la fecha cada vez surgen más nuevos géneros cinematográficos dentro de los que encontramos el cine documental, el cine biográfico, cine histórico, musical, de comedia, infantil, del viejo oeste o western, de aventura, de acción, drama, suspenso, terror, cine mudo, ciencia ficción, cine para adultos, en fin…
            
                Por otro lado las salas de cine paulatinamente han ido incorporando y adecuando sus instalaciones con sillas con movimientos, efectos como humo, aire y agua y avances tecnológicos como el 4D, que nos permite vivir y disfrutar las películas de forma más real.
            
                El cine nos ha permitido comunicarnos y conectarnos con el mundo a través de historias de la vida real, hechos históricos que han marcado en diferentes épocas a la humanidad o con simples acciones de nuestra cotidianidad con las que nos sentimos identificados, las cuales nos pueden llevar a vivir diferentes estados de ánimo en una sola cinta pasando de la risa al llanto, de la alegría a la tristeza o incluso al dolor.
            </p>
        </div>
    
        <div class="col-md-3  text-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            <h5>El Pianista</h5>
            <p>
                La película más conocida y reconocida del cine es "El Pianista", producida por Alfred Hitchcock, en 1949. Este film narra la historia de un pianista de la época colonial, que se encuentra en una isla de la Antártida con una mujer que le ha abandonado y se ha vuelto a casar con su madre, lo que le ha llevado a una vida de solitario y desencuentro.
            </p>
            
            <h5>NOTA PARA ISAAC</h5>
            <P>
               Esto claramente es un inicio de relleno pero es que lo hice desde el principio y al final no supe que hacer con el, entonces te explico un poquito de las peliculas pq es el tema de mi proyectico, gracias por leer :)
            </P>

        </div>
   
    </div>
</div>

{% endblock %}